body {
	background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;

}

.jumbotron {

    margin: 30px 0px 30px 0px;
    opacity: 0.7;
}

.jumbotron h1 {
	font-size: 55px;
    color:  black;
}

.char-img {
	display: inline-block;
  	height: 180px;
	padding: 0px 20px 0px 20px;
	margin: 0px 2px 0px 2px;
	background-color: white;
	border: solid;
	border-color: blue;
}

.char-img p {
	text-align: center;
	margin: 0px 2px 0px 2px;
}


#chosenChar {
	height: 190px;
}

#chosenChar h2 {
	font-size: 30px;
    color: #485bf0;
}

.chosenChar {
	border-color: #8aa3c4;
	background-color: #e0c83b;
}

#leftOverEnemies h2 {
	font-size: 30px;
    color: #6be73a;
}

.enemyChar {
	border-color: #291269;
	background-color: #ee8b39;
	margin: 0px 2px 0px 2px;
}

#fightArea h2 {
	font-size: 2em;
    color: #e61620;
}

#defendArea {
	height: 210px;
}

#defendArea h2 {
	font-size: 2em;
    color: #e2d8d7;
}

.enemyDefender {
	border-color: #4e78b6;
	background-color: #c98319;
}

#announcement {
	font-size: 1.5em;
	font-weight: bold;
    color: 	#3235f1;
}