body {
	background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.jumbotron {

    margin: 30px 0px 30px 0px;
    opacity: 0.7;
}

.jumbotron h1 {
	font-size: 60px;
    color:  black;
}

.char-img {
	display: inline-block;
  	height: 145px;
	padding: 0px 20px 0px 20px;
	margin: 0px 2px 0px 2px;
	background-color: white;
	border: solid;
	border-color: blue;
}

.char-img p {
	text-align: center;
	margin: 0px 2px 0px 2px;
}


#chosenChar {
	height: 190px;
}

#chosenChar h2 {
	font-size: 30px;
    color: #485bf0;
}

.chosenChar {
	border-color: #dd48f0;
	background-color: #5bf048;
}

#leftOverEnemies h2 {
	font-size: 30px;
    color: #8948f0;
}

.enemy-character {
	border-color: #48f0dd;
	background-color: #f0485b;
	margin: 0px 2px 0px 2px;
}

#fightArea h2 {
	font-size: 2em;
    color: #f0485b;
}

#defender-section {
	height: 210px;
}

#defender-section h2 {
	font-size: 2em;
    color: #f0485b;
}

.defender-character {
	border-color: #485bf0;
	background-color: #f0dd48;
}

#game-message {
	font-size: 1.5em;
	font-weight: bold;
    color: 	#f0dd48;
}